<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- ####################  firebase things   #################### -->

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-analytics.js"></script>

    <script src="{{url_for('static', filename='js/cred.js')}}"></script>
    <!-- imports -->
    <!-- mayank css mannual -->
    <link rel="stylesheet" href="../static/css/mstyles.css">

    <script src="{{url_for('static', filename='js/state_buyer.js')}}"></script>
    <script src="{{url_for('static', filename='js/voice.js')}}"></script>


    <!-- import from startpage  -->


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>

    <!--   {{url_for('static', filename='')}}   -->

    <!-- Compiled and minified CSS -->

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}"
        media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/k-style.css')}}"
        media="screen,projection" />
    <link type="text/css" rel="stylesheet"
        href="{{url_for('static', filename='fonts/beyond_the_mountains-webfont.css')}}" media="screen,projection" />
    <script type="text/javascript" src="{{url_for('static', filename='js/kisan.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/language.js')}}"></script>






    <!-- end of import from startpage -->


    <!-- ########################   initialization part   ######################### -->
</head>

<body>
    <header>

        <nav style="background-color: limegreen;">
            <div class="nav-wrapper">
                <a href="/buyerhome" class="brand-logo mastfont" style="font-size: 50px; height: auto;">Saksham
                    kisan</a>

                <ul class="right hide-on-med-and-down" id="buy_auction_button_container">


                    <!-- ####################################################### -->
                    <!-- ##################  from state_buyer.js  ############## -->
                    <!-- ####################################################### -->

                    
                </ul>
            </div>
        </nav>

        <ul class="hide-on-med-and-up">
            <ul id="slide-out" class="sidenav ">
                <li><a href="/buyerbuy">Buy</a></li>
                <li><a href="/buyerauction">Auction</a></li>
                

                <li id="profile_button_container">
                    <!-- ##################   from state buyer.js  ####### -->
                </li>
                <li><a class="waves-effect waves-light btn" id="lang_btn2" onclick="languageChanger()">भाषा</a></li>
                <ul id="lgin_show">
                    <li><a class="waves-effect waves-light btn" href="#" onclick="logout()">Logout</a></li>
                </ul>
            </ul>

            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </ul>
    </header>



    <main>
        {% block content %}
        <!-- ################################################################################### -->
        <!-- #####################   rest of the pages here   ################################## -->
        <!-- ################################################################################### -->
        {% endblock %}
    </main>
 






<!-- ################   delete   ####################################### -->

  

  <!-- Modal Structure -->
   <div id="modal1" class="modal" style="width: 90%;">
    <div class="modal-content">
      <!-- <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->


    <ul class="collapsible">
        <li>
          <div class="collapsible-header">Farmer</div>
          <div class="collapsible-body"><span>                 
               <ul>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 1:Register</h4>
                   <li style="font-size: 20px;">Do fill all the asked credentials.(for new user) </li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/Register1.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 2:Login</h4>
                   <li style="font-size: 20px;">Enter the valid credentials. </li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/Login1.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 3:Home Page</h4>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/Home.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 4:Sell</h4>
                   <li style="font-size: 20px;">Here crop of farmer is added:</li>
                   <li style="font-size: 20px;"><u><h5>crop-type</h5></u>crop farmer has grown</li>
                   <li style="font-size: 20px;"><u><h5>auction date</h5></u>date of auction(bidding)</li>
                   <li style="font-size: 20px;"><u><h5>view date</h5></u>date till which crops can be visit(physically)</li>
                   <li style="font-size: 20px;"><u><h5>quantity</h5></u>quantity of crops</li>
                   <li style="font-size: 20px;"><u><h5>base price</h5></u>minimum price set by farmer</li>
                   

                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/sell.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 5:Auction</h4>
                   <li style="font-size: 20px;">click on enter auction to enter the auction. </li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/fauction.jpg')}}" alt="" srcset=""></li>
                   <li style="font-size: 20px;">To enter in auction click the "enter auction" and then click the timer button to start the auction  </li>
                   
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/fbidding.jpg')}}" alt="" srcset=""></li>
                   <li style="font-size: 20px;">click the remove button if you want to remove that buyer from auction. </li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 6:Schemes</h4>
                   <li style="font-size: 20px;"><u><h5>select your state</h5></u>show the schemes for specific states</li>
                   <li style="font-size: 20px;"><u><h5>bank loans</h5></u>schemes for loans from banks</li>
                   <li style="font-size: 20px;"><u><h5>insurance</h5></u>insurance facilities provided by govt.</li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/schemes.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 5:Tutorials</h4>
                   <li style="font-size: 20px;">tutorials for high yielding (seasonwise).</li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/tutorials.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 5:Services</h4>
                   <li style="font-size: 20px;">when you click services options, following services will be shown:</li>

                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/Services.jpg')}}" alt="" srcset=""></li>
                   <li style="font-size: 20px;"><u><h5>Fertilisers</h5></u>others also have same UI.</li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/Fertilisers.jpg')}}" alt="" srcset=""></li>
                  
               </ul>
                </span></div>
        </li>
        <li>
          <div class="collapsible-header">Buyer</div>
          <div class="collapsible-body"><span>
              <ul>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 1:Register</h4>
                   <li style="font-size: 20px;">Do fill all the asked credentials.(for new user) </li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/Register1.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 2:Login</h4>
                   <li style="font-size: 20px;">Enter the valid credentials. </li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/Login1.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 3:Home Page</h4>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/bhome.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 4:Buy</h4>
                   <li style="font-size: 20px;">Here crop of farmer is added:</li>
                   <li style="font-size: 20px;"><u><h5>crop-type</h5></u>crop buyer wanted.</li>
                   
                   <li style="font-size: 20px;"><u><h5>quantity</h5></u>quantity of crops</li>
                   
                   

                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/sell.jpg')}}" alt="" srcset=""></li>
                   <h4 style="margin-top: 1%;margin-bottom: 1%;">Step 5:Auction</h4>
                   <li style="font-size: 20px;">click on enter auction to enter the auction. </li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/bauction.jpg')}}" alt="" srcset=""></li>
                   
                   <li style="font-size: 20px;"> place you bid in blank input. </li>
                   <li><img src="{{url_for('static', filename = 'theme_images/how_to/bbidding.jpg')}}" alt="" srcset=""></li>
                   
                  
               </ul>
          </span></div>
        </li>
        <li>
          <div class="collapsible-header">Service Provider</div>
          <div class="collapsible-body"><span></span></div>
        </li>
      </ul>
  </div>




</div>

<!-- ################################################ -->
<!-- ################  speech button   ############## -->
<!-- ################################################ -->
<div class="fixed-action-btn" onclick="startVoice()">
    <a class="btn-floating btn-large red" id="btnGiveCommand" >
      <i class="large material-icons">keyboard_voice</i>
    </a>
   
  </div>
  
<!-- ################################################### -->
<!-- #################  information button ############# -->
<!-- ################################################### -->

  <div class="fixed-action-btn modal-trigger" href="#modal1" style="float: left; margin-right: 5%;">
    <a class="btn-floating btn-large green" >
      <i class="large material-icons">info</i>
    </a>
   
  </div>




    <footer class="row white-text z-depth-1" style="background-color: limegreen;">
        <div class="col s12 m6 l6 center">
            <h6>
                Copyright Team <b>MUSKETEERS</b>
            </h6>
        </div>
        <div class="col s12 m6 l6 center">
            <h6>
                SIH - 2020
            </h6>
        </div>
    </footer>



    <script>

        //################  materialize initiailisations  ###############

        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.tabs').tabs();
            $('select').formSelect();
            $('.collapsible').collapsible();
            $(".dropdown-trigger").dropdown();
            $('.modal').modal();
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'left'
            });
        });
    </script>
</body>

</html>
