{% extends "buyerlayout.html" %}
{% block content %}

<div class="maindiv" style="height: 100%;width: 100%;">
    <center>
                    <div id="blank_div" style="height: 80px;"></div>

                    <label class="mastfont top_marg center-align lang-eng" style="font-size: 100px;margin-top: 10%;">
                        <font color="black">Saksham Kisan</font>
                    </label>
                    <label class="mastfont top_marg center-align lang-hin" style="font-size: 100px;margin-top: 10%;">
                        <font color="black">सक्षम किसान</font>
                    </label>
                    <div class="col s12 lang-eng" style="height: auto;width: 70%;">
                        Agriculture is the science and art of cultivating plants and livestock. Agriculture was the key development in the rise of sedentary human civilization, whereby farming of domesticated species created food surpluses that enabled people to live in cities. The history of agriculture began thousands of years ago. After gathering wild grains beginning at least 105,000 years ago, nascent farmers began to plant them around 11,500 years ago. Pigs, sheep and cattle were domesticated over 10,000 years ago. Plants were independently cultivated in at least 11 regions of the world. Industrial agriculture based on large-scale monoculture in the twentieth century came to dominate agricultural output, though about 2 billion people still depended on subsistence agriculture into the twenty-first.
            
            Modern agronomy, plant breeding, agrochemicals such as pesticides and fertilizers, and technological developments have sharply increased yields, while causing widespread ecological and environmental damage. Selective breeding and modern practices in animal husbandry have similarly increased the output of meat, but have raised concerns about animal welfare and environmental damage. Environmental issues include contributions to global warming, depletion of aquifers, deforestation, antibiotic resistance, and growth hormones in industrial meat production. Genetically modified organisms are widely used, although some are banned in certain countries.
            
                    </div>
                    <div class="col s12 lang-hin" style="height: auto;width: 70%;">
                        कृषि पौधों और पशुधन की खेती का विज्ञान और कला है।कृषि गतिहीन मानव सभ्यता के उदय में महत्वपूर्ण विकास था, जिसके तहत पालतू प्रजातियों की खेती ने खाद्य अधिशेष पैदा किया जिससे लोग शहरों में रहने में सक्षम हो गए । कृषि का इतिहास हजारों साल पहले शुरू हुआ था। कम से १०५,००० साल पहले शुरू जंगली अनाज इकट्ठा करने के बाद, नवजात किसानों ने उन्हें लगभग ११,५०० साल पहले संयंत्र शुरू किया । सूअर, भेड़ और मवेशी १०,००० साल पहले पालतू थे । दुनिया के कम से कम 11 क्षेत्रों में पौधों की स्वतंत्र रूप से खेती की गई। बीसवीं सदी में बड़े पैमाने पर मोनोकल्चर पर आधारित औद्योगिक कृषि कृषि उत्पादन पर हावी हो गई, हालांकि लगभग २,०००,०००,००० लोग अभी भी इक्कीसवें में निर्वाह कृषि पर निर्भर थे ।
            
                        आधुनिक कृषि विज्ञान, पौधों के प्रजनन, कीटनाशकों और उर्वरकों जैसे कृषि रसायनों और तकनीकी विकास ने तेजी से पैदावार में वृद्धि की है, जबकि व्यापक पारिस्थितिक और पर्यावरणीय क्षति हुई है। पशुपालन में चयनात्मक प्रजनन और आधुनिक प्रथाओं ने इसी तरह मांस के उत्पादन में वृद्धि की है, लेकिन पशु कल्याण और पर्यावरणीय क्षति के बारे में चिंताएं बढ़ा दी हैं । पर्यावरण के मुद्दों में ग्लोबल वार्मिंग में योगदान, जलभृतों की कमी, वनों की कटाई, एंटीबायोटिक प्रतिरोध और औद्योगिक मांस उत्पादन में विकास हार्मोन शामिल हैं । आनुवंशिक रूप से संशोधित जीवों का व्यापक रूप से उपयोग किया जाता है, हालांकि कुछ देशों में कुछ पर प्रतिबंध लगा दिया जाता है।
            
                    </div>
        
  
    </center>

</div>

<div class="row" style="height: 100%;width:100%;">
    <h1 class="col s12 headings mastfont center-align lang-eng" style="font-size: 120px;margin-top: 5%;">Best Sellers</h1>
    <h1 class="col s12 headings mastfont center-align lang-hin" style="font-size: 120px;margin-top: 5%;">सर्वश्रेष्ठ  विक्रेता</h1>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
            <a href="farmerprofilebuyer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}" style="width: 250px; height: 250px; border-radius: 50%;"> </a> 
            <div class="container">
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">कीर्ति</font>
                </label>
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">क्षेत्र:गंगोह</font>
                </label>
            </div>
        </div>
        
    </div>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
<!--					<img src="{{url_for('static', filename='theme_images/th.jpg')}}" style="width: 250px; height: 250px; border-radius: 50%;">-->
            <a href="farmerprofilebuyer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}" style="width: 250px; height: 250px; border-radius: 50%;"> </a> 
            <div class="container">
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">कीर्ति</font>
                </label>
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">क्षेत्र:गंगोह</font>
                </label>
            </div>
        </div>
        
    </div>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
<!--					<img src="{{url_for('static', filename='theme_images/th.jpg')}}" style="width: 250px; height: 250px; border-radius: 50%;">-->
            <a href="farmerprofilebuyer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}" style="width: 250px; height: 250px; border-radius: 50%;"> </a> 
            <div class="container">
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">कीर्ति</font>
                </label>
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">क्षेत्र:गंगोह</font>
                </label>
            </div>
        </div>
        
    </div>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
<!--					<img src="{{url_for('static', filename='theme_images/th.jpg')}}" style="width: 250px; height: 250px; border-radius: 50%;">-->
            <a href="farmerprofilebuyer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}" style="width: 250px; height: 250px; border-radius: 50%;"> </a> 
            <div class="container">
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">कीर्ति</font>
                </label>
                <label class="mastfont lang-eng" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
                <label class="mastfont lang-hin" style="font-size: 50px;">
                    <font color="black">क्षेत्र:गंगोह</font>
                </label>
            </div>
        </div>
        
    </div>
</div>


{% endblock content %}
