<html>
	<head>
		
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		 <script type="text/javascript" src="js/materialize.min.js"></script>
		   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="common/k-style.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="fonts/beyond_the_mountains-webfont.css"  media="screen,projection"/>
		<script type="text/javascript" src="saksham-kisan/js/kisan.js"></script>
		
		<script>
			 $(document).ready(function(){
$(".dropdown-trigger").dropdown();
			 $('.sidenav').sidenav();
				  $('.collapsible').collapsible();
				  $('.datepicker').datepicker();
				 
				  });
			
			 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });
		</script>
	
		
		<script>
$(document).ready(function(){
    $('.tabs').tabs();
  });
</script>
 
		
		
	</head>
	<style>
		#content{
			font-size: 20px;
		
			
		}
		h4{
			margin-top: 2%;
		}
	</style>
	<main>
	<body>
	      		<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating blue"><i class="material-icons">chat</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">notifications</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">power_settings_new</i></a></li>
    
  </ul>
</div>

		
		
				 	          
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="farmerirrigation.html">Irrigation</a></li>
  <li><a href="farmerfertilisers.html">Fertilisers</a></li>
  <li><a href="farmerpackaging.html">Packaging</a></li>
  <li><a href="farmertransport.html">Transport</a></li>
  <li><a href="farmerwarehouse.html">Warehouse</a></li>
</ul>

		

		<ul id="dropdown2" class="dropdown-content">
   <li><a href="farmerirrigation.html">Irrigation</a></li>
  <li><a href="farmerfertilisers.html">Fertilisers</a></li>
  <li><a href="farmerpackaging.html">Packaging</a></li>
  <li><a href="farmertransport.html">Transport</a></li>
  <li><a href="farmerwarehouse.html">Warehouse</a></li>
</ul>

		
			<nav style="background-color: limegreen;">
    <div class="nav-wrapper">
      <a href="farmerhome.html" class="brand-logo mastfont" style="font-size: 50px; height: auto;">Saksham kisan</a>
      
      <ul class="right hide-on-med-and-down">
        <li><a href="farmersell.html">Sell</a></li>
        <li><a href="schemes.html">Schemes</a></li>
        <li><a href="tutorials.html">Tutorials</a></li>
        <li><a href="farmerauction.html">Auction</a></li>
<!--		   Dropdown Trigger -->
		<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
		  <li><a class="waves-effect waves-light btn" href="farmerprofile.html">Profile</a></li>
       <li><a class="waves-effect waves-light btn" href="#">Language</a></li>
      </ul>
    </div>
  </nav>
		
	<ul class="hide-on-med-and-up">	
	<ul id="slide-out" class="sidenav ">
  <li><a href="farmersell.html">Sell</a></li>
        <li><a href="schemes.html">Schemes</a></li>
        <li><a href="tutorials.html">Tutorials</a></li>
        <li><a href="farmerauction.html">Auction</a></li>
		
	<li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Services<i class="material-icons right">arrow_drop_down</i></a></li>  
	  <li><a class="waves-effect waves-light btn" href="farmerprofile.html">Profile</a></li>
       <li><a class="waves-effect waves-light btn" href="#">Language</a></li>
  </ul>
		
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</ul>
 
		<div class="maindiv">
			<h1 class="mastfont center-align" style="font-size: 120px;">Self Branding</h1>
	
			 <div class="row" style="margin-top: 5%;">
    <div class="col s12">
      <ul class="tabs ">
        <li class="tab col s3"><a href="#rice">Wheat</a></li>
        <li class="tab col s3"><a class="active" href="#rice">Rice </a></li>
        <li class="tab col s3"><a href="#maize">Maize</a></li>
        <li class="tab col s3"><a href="#rice">Sugarcane</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12"></div>
    <div id="rice" class="col s12">
		<h4 class="mastfont">Step 1: Register a Company</h4>
		<div id="content">Visit the following website to follow the indian government standards to register a company . It also leads to all the portals for various important registrations .<a href=" http://www.mca.gov.in/MinistryV2/incorporation_company.html">Learn More</a>

</div>
		
		<h4 class="mastfont">Step2: Udyog Aadhaar MSME Registrations:</h4>
		<div id="content">
			Micro Small and Medium Enterprises are classified into three different types, which are mentioned below:
		</div>
		<h5 class="mastfont"><i class="tiny material-icons">grade</i>Micro Enterprises –</h5> <div id="content">Incase  a business sets 25 lacs rupees in a specific business in the manufacturing sector comes under Micro Enterprises.</div>
		<h5 class="mastfont"><i class="tiny material-icons">grade</i>Small Enterprises –</h5><div id="content">Such industries are identify incase the investment is more than 25 lakhs and below 5 crores comes under the manufacturing sector also incase the industry spends more than 10 lakhs and less than 2 crores under the services sector comes under Small Enterprises.</div>
		<h5 class="mastfont"><i class="tiny material-icons">grade</i>Medium Enterprises –</h5><div id="content">Such industries has investment more than 5 crores and below 10 crores falls under the manufacturing sector and incase of more than 2 crores and less than 5 crores under trade type services sector comes under Small Enterprises. <a href="https://www.corpseed.com/service/msme-registration">Learn More</a></div>
		
		<h4 class="mastfont">Step 3 -Factory License:</h4>
				 <div id="content"><a href="https://www.corpseed.com/service/factory-health-trade-trade-license"> Apply Here</a></div>
		
		<h5 class="mastfont" style="margin-top: 2%;"><i class="tiny material-icons">grade</i>The procedure of registering a factory in India</h5>
		<div id="content">
It is obligatory for every factory in India to abide by the rules and guidelines stated in the Factories Act, 1948. The first step towards establishing a factory in India is the registration of the factory, and once the registration is done, the licenses can be availed from the government. Following is the procedure to be followed for factory registration in India:
			<li>
				An applicant has to apply with duly filled in Form No-2, a set of prescribed documents and fees prescribed in the proper head of Account in the shape of Treasury Chalan in the office of Director of Factories & Boilers, of his state.</li>
			<li>
				Upon receiving the application, the same is scrutinized by the concerned officer.</li>
			<li>
				Post scrutiny, if the documents are found correct, it is processed for approval by the competent Authority.</li>
			<li>
				After approval is given, a registration certificate and a license duly signed by the Competent Authority are sent by post to the applicant with a covering letter.</li>
</div>
		<h5 class="mastfont" style="margin-top: 2%;"><i class="tiny material-icons">grade</i>Documents Required for Factory Registration</h5>
		<div id="content">
Following is the list of documents needed for Factory Registration:
			<li>
				Form No-2 or Combined application form for establishment of industries in form 1AA.</li>
			<li>
				Construction completion report from management as per the approved plan.</li>
			<li>
				Requisite Fee in shape of treasury Chalan in proper Head of Account as per fee structure notified in from time to time.</li>
			<li>
				Resolution of Director/partners nominating one to act as occupier under section 2(n) of Factories Act.</li>
			<li>
				Original copy of Stability Certificate issued by a recognized competent person.</li>
			<li>
				Safety & Health Policy for 2(CB) and MAH category factories and other factories are employing 50 or more workers.</li>

		</div>
		
		<h4 class="mastfont">Step 4 - No pollution certificate:</h4>
		<div id="content">
			Apply for ‘consent to operate’ and ‘consent to establish’ from the Pollution Control Board Acts 1958: Apply for the Rice-Milling Industry (Regulation) Act, 1958.</div>
		<h4 class="mastfont">
			Step 5 - PFA and ESIC Registration:</h4>
<div id="content">
		If your rice mill plant has employees then you need to get PFA and ESIC registration for the employees according to labour law.
	 
	<a href="https://www.esic.in/ESICInsurance1/ESICInsurancePortal/Signup.aspx">	Learn More</a></div>
		<h4 class="mastfont">
			Step 6 - FSSAI License:</h4>
		<div id="content">
Rice mill plant is categorized in the food industry; therefore, you need to apply for FSSAI license (Food Safety and Standard Authority of India) one of the necessary condition after registering business entity is to obtain Government License / Permits.

		
			<a href=" https://foodlicensing.fssai.gov.in/index.aspx">Learn More</a>
		</div>
		<h4 class="mastfont">
			Step 7 - GST Registration:</h4>
		<div id="content">
			<a href="https://www.gst.gov.in/">Learn More</a>
			</div>

		<h5 class="mastfont" style="margin-top: 4%;">List of “Equipment and Raw Material required” for Rice Mill Plant.</h5>
		<div id="content">
			<li>
				The basic raw substantial for rice mill plant is Paddy (raw form of rice crop), the quality of the rice depends on the rice crop so you have to conscious while selecting raw material.</li>
			<li>
				The rice is cultivated from the farmer so it is helpful to get raw material directly from a farmer with a reasonable price it will save your money.</li>
			<li>
				Maintain production all year you have to preserve the raw material supplies, therefore raw material source is really important.</li>
			<li>
				One need to find the farmer or a person who wants your service of rice mill where they can separate husk and padding and get rice.</li>
		</div>

		<h5 class="mastfont" style="margin-top: 4%;">Machinery</h5>
		<div id="content">
			<p>
According to the size of the rice mill processing plant, there is the different type of machinery available in the market; you need to choose the right machinery for your rice mill plant.</p>
			<p>
				The important factor is cone slider while selecting the machinery are production rate, efficiency, capacity, and power equipment; also consider the execution, whether the machine is a single stage or multi-stage.</p>
			<li>
				Grading machine</li>
			<li>
				Grain dryer</li>
			<li>
				Lighting equipment</li>
			<li>
				Measure and packing machine</li>
			<li>Paddy husker machine</li>
			<li>Paddy separator machine:</li>
			<li>Rice cleaning machine</li>
			<li>Rice color sorter</li>
			<li>Rice destoner machine</li>
			<li>Rice milling detection machine</li>
			<li>Rice polishing machine</li>
			<li>Rice whitener machine</li>
		</div>
				 </div>
	
    <div id="maize" class="col s12">
		<h4 class="mastfont">Step 1: Register a Company</h4>
		<div id="content">Visit the following website to follow the indian government standards to register a company . It also leads to all the portals for various important registrations .
   Link :- http://www.mca.gov.in/MinistryV2/incorporation_company.html
</div> 
		
		<h4 class="mastfont">Step2: Udyog Aadhaar MSME Registrations:</h4>
		<div id="content">
			Micro Small and Medium Enterprises are classified into three different types, which are mentioned below:
		</div>
		<h5 class="mastfont"><i class="tiny material-icons">grade</i>Micro Enterprises –</h5> <div id="content">Incase  a business sets 25 lacs rupees in a specific business in the manufacturing sector comes under Micro Enterprises.</div>
		<h5 class="mastfont"><i class="tiny material-icons">grade</i>Small Enterprises –</h5><div id="content">Such industries are identify incase the investment is more than 25 lakhs and below 5 crores comes under the manufacturing sector also incase the industry spends more than 10 lakhs and less than 2 crores under the services sector comes under Small Enterprises.</div>
		
		<h5 class="mastfont"><i class="tiny material-icons">grade</i>Medium Enterprises –</h5><div id="content">Such industries has investment more than 5 crores and below 10 crores falls under the manufacturing sector and incase of more than 2 crores and less than 5 crores under trade type services sector comes under Small Enterprises. <a href="https://www.corpseed.com/service/msme-registration">Learn More</a></div>
		
		<h4 class="mastfont">Step 3 -<a href="https://www.corpseed.com/service/factory-health-trade-trade-license"> Factory License:</a></h4>
		
		<h5 class="mastfont" style="margin-top: 2%;"><i class="tiny material-icons">grade</i>The procedure of registering a factory in India</h5>
		<div id="content">
It is obligatory for every factory in India to abide by the rules and guidelines stated in the Factories Act, 1948. The first step towards establishing a factory in India is the registration of the factory, and once the registration is done, the licenses can be availed from the government. Following is the procedure to be followed for factory registration in India:
			<li>
				An applicant has to apply with duly filled in Form No-2, a set of prescribed documents and fees prescribed in the proper head of Account in the shape of Treasury Chalan in the office of Director of Factories & Boilers, of his state.</li>
			<li>
				Upon receiving the application, the same is scrutinized by the concerned officer.</li>
			<li>
				Post scrutiny, if the documents are found correct, it is processed for approval by the competent Authority.</li>
			<li>
				After approval is given, a registration certificate and a license duly signed by the Competent Authority are sent by post to the applicant with a covering letter.</li>
</div>
		<h5 class="mastfont" style="margin-top: 2%;"><i class="tiny material-icons">grade</i>Documents Required for Factory Registration</h5>
		<div id="content">
Following is the list of documents needed for Factory Registration:
			<li>
				Form No-2 or Combined application form for establishment of industries in form 1AA.</li>
			<li>
				Construction completion report from management as per the approved plan.</li>
			<li>
				Requisite Fee in shape of treasury Chalan in proper Head of Account as per fee structure notified in from time to time.</li>
			<li>
				Resolution of Director/partners nominating one to act as occupier under section 2(n) of Factories Act.</li>
			<li>
				Original copy of Stability Certificate issued by a recognized competent person.</li>
			<li>
				Safety & Health Policy for 2(CB) and MAH category factories and other factories are employing 50 or more workers.</li>

		</div>
		
		<h4 class="mastfont">Step 4 - No pollution certificate:</h4>
		<div id="content">
			Apply for ‘consent to operate’ and ‘consent to establish’ from the Pollution Control Board Acts 1958: Apply for the Rice-Milling Industry (Regulation) Act, 1958.</div>
		<h4 class="mastfont">
			Step 5 - PFA and ESIC Registration:</h4>
<div id="content">
		If your rice mill plant has employees then you need to get PFA and ESIC registration for the employees according to labour law.
	Link:- https://www.esic.in/ESICInsurance1/ESICInsurancePortal/Signup.aspx</div>
		<h4 class="mastfont">
			Step 6 - FSSAI License:</h4>
		<div id="content">
Rice mill plant is categorized in the food industry; therefore, you need to apply for FSSAI license (Food Safety and Standard Authority of India) one of the necessary condition after registering business entity is to obtain Government License / Permits.

			Link:- https://foodlicensing.fssai.gov.in/index.aspx</div>
		<h4 class="mastfont">
			Step 7 - GST Registration:</h4>
		<div id="content">
			Link:- https://www.gst.gov.in/</div>

		<h5 class="mastfont" style="margin-top: 4%;">List of “Equipment and Raw Material required” for Rice Mill Plant.</h5>
		<div id="content">
			<li>
				The basic raw substantial for rice mill plant is Paddy (raw form of rice crop), the quality of the rice depends on the rice crop so you have to conscious while selecting raw material.</li>
			<li>
				The rice is cultivated from the farmer so it is helpful to get raw material directly from a farmer with a reasonable price it will save your money.</li>
			<li>
				Maintain production all year you have to preserve the raw material supplies, therefore raw material source is really important.</li>
			<li>
				One need to find the farmer or a person who wants your service of rice mill where they can separate husk and padding and get rice.</li>
		</div>

		<h5 class="mastfont" style="margin-top: 4%;">Machinery</h5>
		<div id="content">
			<p>
According to the size of the rice mill processing plant, there is the different type of machinery available in the market; you need to choose the right machinery for your rice mill plant.</p>
			<p>
				The important factor is cone slider while selecting the machinery are production rate, efficiency, capacity, and power equipment; also consider the execution, whether the machine is a single stage or multi-stage.</p>
			<li>
				Grading machine</li>
			<li>
				Grain dryer</li>
			<li>
				Lighting equipment</li>
			<li>
				Measure and packing machine</li>
			<li>Paddy husker machine</li>
			<li>Paddy separator machine:</li>
			<li>Rice cleaning machine</li>
			<li>Rice color sorter</li>
			<li>Rice destoner machine</li>
			<li>Rice milling detection machine</li>
			<li>Rice polishing machine</li>
			<li>Rice whitener machine</li>
		</div>
				 </div>
    <div id="test4" class="col s12"> </div>
  </div>
			
			
			
			
		  
		</div>

	</body>
		<!--		footer-->
		
		<div id="footer" style="height: 400px;width: 100%;"></div>
		
	</main>
</html>