{% extends "farmerlayout.html" %}
{% block content %}

<div class="maindiv" style="height: auto;width: 100%;">
    <center>
        <div id="blank_div" style="height: 80px;"></div>
        <label class="mastfont top_marg center-align" style="font-size: 100px;margin-top: 10%;">
            <font color="black">Saksham Kisan</font>
        </label>
        <div class="col s12" style="height: auto;width: 70%;">
            Indian Government, at all levels, announces Welfare Schemes for a cross section of the society from
            time to time. These schemes could be either Central, State specific or a joint collaboration between
            the Centre and the States. In this section, we have attempted to provide you an easy and single
            point access to information about several welfare schemes of the Government and their various
            aspects including eligible beneficiaries, types of benefits, scheme details etc.Indian Government,
            at all levels, announces Welfare Schemes for a cross section of the society from time to time. These
            schemes could be either Central, State specific or a joint collaboration between the Centre and the
            States. In this section, we have attempted to provide you an easy and single point access to
            information about several welfare schemes of the Government and their various aspects including
            eligible beneficiaries, types of benefits, scheme details etc.

        </div>


        <div class="row">
            <ul class=" col s12 collapsible popout " style="width: 40% ;margin-top: 3%;margin-left: 30%;">
                <li class="mastfont">
                    <div class="collapsible-header" style="font-size: 25px;"><i
                            class="material-icons">filter_drama</i>Start Season</div>
                    <div class="collapsible-body" style="font-size: 20px;">
                        <ul>
                            <li><a href="farmerfertilisers.html">Fertilisers</a></li>
                            <li><a href="farmerfertilisers.html">Irrigation</a></li>
                            <li><a href="schemes.html">Schemes</a></li>
                            <li><a href="tutorials.html">Tutorials</a></li>

                        </ul>
                    </div>
                </li>
                <li class="mastfont">
                    <div class="collapsible-header" style="font-size: 25px;"><i
                            class="material-icons">filter_drama</i>Mid Season</div>
                    <div class="collapsible-body" style="font-size: 20px;">
                        <ul>
                            <li><a href="farmerfertilisers.html">Fertilisers</a></li>
                            <li><a href="farmerfertilisers.html">Irrigation</a></li>
                            <li><a href="schemes.html">Schemes</a></li>
                            <li><a href="tutorials.html">Tutorials</a></li>

                        </ul>
                    </div>
                </li>
                <li class="mastfont">
                    <div class="collapsible-header" style="font-size: 25px;"><i
                            class="material-icons">filter_drama</i>End Season</div>
                    <div class="collapsible-body" style="font-size: 20px;">
                        <ul>
                            <li><a href="farmerfertilisers.html">Packaging</a></li>
                            <li><a href="farmerfertilisers.html">Warehousing</a></li>
                            <li><a href="schemes.html">Schemes</a></li>
                            <li><a href="tutorials.html">Tutorials</a></li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </center>

</div>

<div class="row" style="height: 100%;width:100%;">
    <h1 class="col s12 headings mastfont center-align" style="font-size: 80px;margin-top: 0%;">Best Buyers</h1>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
            <a href="bigsellerprofiefarmer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}"
                    style="width: 250px; height: 250px; border-radius: 50%;"></a>
            <div class="container">
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
            </div>
        </div>

    </div>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
            <a href="bigsellerprofiefarmer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}"
                    style="width: 250px; height: 250px; border-radius: 50%;"></a>
            <div class="container">
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
            </div>
        </div>

    </div>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
            <a href="bigsellerprofiefarmer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}"
                    style="width: 250px; height: 250px; border-radius: 50%;"></a>
            <div class="container">
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
            </div>
        </div>

    </div>
    <div class=" col s12 m6 l3 center-align">
        <div class="bestimages">
            <a href="bigsellerprofiefarmer.html"><img src="{{url_for('static', filename='theme_images/th.jpg')}}"
                    style="width: 250px; height: 250px; border-radius: 50%;"></a>
            <div class="container">
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">kirti</font>
                </label>
                <label class="mastfont" style="font-size: 50px;">
                    <font color="black">Region:gangoh</font>
                </label>
            </div>
        </div>

    </div>
</div>
{% endblock content %}