{% extends "farmerlayout.html" %}
{% block content %}
<script src="{{url_for('static', filename= 'js/farmerdetails.js')}}"></script>

<div class="maindiv" style="height:100%;width: 100%;background-color: transparent;">
    <div style="height: 100px;width: 100%;background-color: transparent;"></div>

    <div class="row">
        <div class="col s6 push-s1" style="height:600px;width:400px;">
            <div class="container" style="margin-top: 5%;">
                <img src="{{url_for('static', filename='theme_images/winter_sun.jpg')}}"
                    style="height: 300px;width: 300px;">
            </div>
            <div class="container col mastfont" style="margin-top: 20%;font-size: 35px;">
                <div id="farmername" style="margin-left: 45%;"> Name</div>
                <div id="farmeraadhar" style="margin-left: 45%;"> Aadhar</div>
                <div id="farmeraddress" style="margin-left: 45%;"> Address</div>

            </div>
        </div>
        <div class="col s12 l3 m12 push-s1"
            style="height: auto;width:60%;background-color: transparent;margin-left: 8%; ">


            <a class="waves-effect waves-light btn-large mastfont" style="height: 70px;margin-left: 2%;font-size: 25px;"
                href="farmeredit.html" id="edit_profile"><span class="lang-eng">Edit Profile</span><span class="lang-hin">प्रोफाइल संपादित करें</span></a>
            <a class="waves-effect waves-light btn-large mastfont"
                style="height: 70px;margin-left: 2%;font-size: 25px;" id="payment"><span class="lang-eng">Payment</span><span class="lang-hin">भुगतान</span></a>
            <a class="waves-effect waves-light btn-large dropdown-trigger btn mastfont" href='#' data-target='dropdown3'
                style="height: 70px;margin-left: 2%;font-size: 25px;" id="profile_brand"><span class="lang-eng">Brand</span><span class="lang-hin">ब्रांड</span></a>


            <!-- Dropdown Structure -->
            <ul id='dropdown3' class='dropdown-content mastfont'>
                <li><a href="farmerbrandself.html">
                        Self</a></li>
                <li><a href="farmerbrandcollabsend.html"><span class="lang-eng"> Send Collaboration Request</span><span class="lang-hin">सहयोग अनुरोध भेजें</span></a>

                </li>
                <li><a href="farmerbrandcollabrecieve.html"> <span class="lang-eng">Recieved Collaboration Request</span><span class="lang-hin">सहयोग अनुरोध प्राप्त</span></a>
                

                </li>

            </ul>

            <a class="waves-effect waves-light btn-large mastfont" style="height: 70px;margin-left: 2%;font-size: 25px;"
                href="farmerrecent.html"><i id="history"></i><span class="lang-eng">Recent History</span><span class="lang-hin">हाल का इतिहास</span></a>

            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col s6 offset-s6" style="height: auto;width:500px;margin-top: -30%; ">
            <ul class="collapsible mastfont">
                <li>
                    <div class="collapsible-header" style="height: 80px;font-size: 35px;"><i
                            class="material-icons" id="collapsable_contact"></i><span class="lang-eng">Contact Details</span><span class="lang-hin">संपर्क विवरण</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">Phone number:</span><span class="lang-hin">फोन संख्या:</span></span>
                        <span id="farmerphone">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">Email Address:</span><span class="lang-hin">ईमेल पता:</span></span>
                        <span id="farmeremail">kisan@gmail.com</span></div>


                </li>
                <li>
                    <div class="collapsible-header" style="height: 80px;font-size: 35px;"><i
                            class="material-icons" id="collapsable_additional"></i><span class="lang-eng">Additional Details</span><span class="lang-hin">अतिरिक्त विवरण</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">Aadhar Card Number:</span><span class="lang-hin">आधार कार्ड नंबर:</span></span>
                        <span id="farmeraadhar1">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">Farm Area:</span><span class="lang-hin">फार्म एरिया:</span></span>
                        <span id="farmerarea">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">Pin Code:</span><span class="lang-hin">पिन कोड<:/span></span>
                        <span id="farmerpin">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">Police Station:</span><span class="lang-hin">पुलिस स्टेशन:</span></span>
                        <span id="farmerpolicestation">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">Post Office:</span><span class="lang-hin">डाकघर:</span></span>
                        <span id="farmerpostoffice">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">District:</span><span class="lang-hin">जिला:</span></span>
                        <span id="farmerdistrict">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">House number:</span><span class="lang-hin">हाउस नंबर:</span></span>
                        <span id="farmerhouse">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">City:</span><span class="lang-hin">शहर:</span></span>
                        <span id="farmercity">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span><span class="lang-eng">State:</span><span class="lang-hin">राज्य:</span>:</span>
                        <span id="farmerstate">13654</span></div>


                </li></span><span class="lang-hin"></span>

            </ul>
        </div>
    </div>




</div>












<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();

    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.fixed-action-btn');
        var instances = M.FloatingActionButton.init(elems, {
            direction: 'left'
        });
    });
</script>

{% endblock content %}
