{% extends "buyerlayout.html" %}
{% block content %}



<div class="maindiv" style="height:100%;width: 100%;background-color: transparent;">
    <div style="height: 100px;width: 100%;background-color: transparent;"></div>

    <div class="row">
        <div class="col s6 push-s1" style="height:600px;width:400px;">
            <div class="container" style="margin-top: 5%;">
                <img src="{{url_for('static', filename='theme_images/winter_sun.jpg')}}" style="height: 300px;width: 300px;">
            </div>
            <div class="container col mastfont" style="margin-top: 20%;font-size: 35px;">
                <div id="localsellername" style="margin-left: 45%;"> kirti</div>
                <div id="localselleraadhar" style="margin-left: 45%;"> 122354478</div>
                <div id="localselleraddress" style="margin-left: 45%;"> saharanpur</div>

            </div>
        </div>
        <div class="col s12 l3 m12 push-s1"
            style="height: auto;width:60%;background-color: transparent;margin-left: 8%; ">


            <a class="waves-effect waves-light btn-large mastfont" style="height: 70px;margin-left: 2%;font-size: 25px;"
                href="localselleredit.html">Edit Profile</a>
            <a class="waves-effect waves-light btn-large mastfont"
                style="height: 70px;margin-left: 2%;font-size: 25px;">Payment</a>
            <a class="waves-effect waves-light btn-large dropdown-trigger btn mastfont" href='#' data-target='dropdown3'
                style="height: 70px;margin-left: 2%;font-size: 25px;"> Brand</a>



            <!-- Dropdown Structure -->
            <ul id='dropdown3' class='dropdown-content mastfont'>
                <li><a href="buyerbrandcollabsend.html">
                        Send</a></li>
                <li><a href="buyerbrandcollabsend.html">Recieved</a></li>

            </ul>
            <a class="waves-effect waves-light btn-large mastfont" style="height: 70px;margin-left: 2%;font-size: 25px;"
                href="buyerrecent.html">Recent History</a>

            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col s6 offset-s6" style="height: auto;width:500px;margin-top: -30%; ">
            <ul class="collapsible mastfont">
                <li>
                    <div class="collapsible-header" style="height: 80px;font-size: 35px;"><i
                            class="material-icons"></i>Contact Details</div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span>Phone number:</span>
                        <span id="localsellerphone">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span>Email Address:</span>
                        <span id="localselleremail">kisan@gmail.com</span></div>


                </li>
                <li>
                    <div class="collapsible-header" style="height: 80px;font-size: 35px;"><i
                            class="material-icons"></i>Additional Details</div>


                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span>Pin Code:</span>
                        <span id="localsellerpin">13654</span>
                    </div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span>Address:</span><span
                            id="localselleraddress">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span>District:</span><span
                            id="localsellerdistrict">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span>City:</span><span
                            id="localsellercity">13654</span></div>
                    <div class="collapsible-body mastfont" style="font-size: 30px;"><span>State:</span><span
                            id="localsellerstate">13654</span></div>

                </li>

            </ul>
        </div>
    </div>




</div>






{% endblock content %}