{% extends "farmerlayout.html" %}
{% block content %}


		<script>
//			for sidenavdropdown
			 $(document).ready(function(){
$(".dropdown-trigger").dropdown();
			 $('.sidenav').sidenav();
				  $('.collapsible').collapsible();
				 
				  });
			
//			for dropdown of states
			$(document).ready(function(){
    $('select').formSelect();
  });
//			for floating button
			 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left'
    });
  });
		
			
		</script>
		
		
		<script>
			document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
			
		</script>

	</head>
	<style>
	
		li{
  list-style-type: square;
			font-size: 22px;
}
	

	</style>
	<main>
	<body>
	      		<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating pulse blue"><i class="material-icons">chat</i></a></li>
    <li><a class="btn-floating yellow pulse darken-1"><i class="material-icons">notifications</i></a></li>
    <li><a class="btn-floating pulse green"><i class="material-icons">power_settings_new</i></a></li>
    
  </ul>
</div>

 		<div class="maindiv" style="height:100%;width: 100%;background-color: transparent;">

		
			 <div class="container mastfont"  style="height:80px;width: 100px;"></div>
				<div class=" mastfont"  style=" background-color: transparent;height: 100px;width: 100px;font-size: 80px;margin-left: 40%"><span class="lang-eng">Schemes</span><span class="lang-hin"> योजनाएं</span></div>
				<!-- <div class=" mastfont"  style=" background-color: transparent;height: 100px;width: 100px;font-size: 80px;margin-left: 40%"><span class="lang-hin"> योजनाएं</span></div> -->
			 
			
				  <div class="row">
					  <div class="container" style="margin-top: 5%;">
					<img src="../static/theme_images/th.jpg" style="height: 350px;width: 350px;border-radius: 50%;">
				</div>
				 <div class="container col mastfont" style="font-size: 25px;margin-left: 44%;height: auto;width: 52%;margin-top: -20%;">
					<span class="lang-eng">
					 Indian Government, at all levels, announces Welfare Schemes for a cross section of the society from time to time. These schemes could be either Central, State specific or a joint collaboration between the Centre and the States. In this section, we have attempted to provide you an easy and single point access to information about several welfare schemes of the Government and their various aspects including eligible beneficiaries, types of benefits, scheme details etc.
                                    </span>
                                    <span class="lang-hin">
                                          भारत सरकार सभी स्तरों पर समय-समय पर समाज के एक वर्ग के लिए कल्याणकारी योजनाओं की घोषणा करती है। ये योजनाएं या तो केंद्रीय, राज्य विशिष्ट या केंद्र और राज्यों के बीच संयुक्त सहयोग हो सकती हैं। इस खंड में, हमने आपको सरकार की कई कल्याणकारी योजनाओं और पात्र लाभार्थियों सहित उनके विभिन्न पहलुओं, लाभों के प्रकार, योजना विवरण आदि के बारे में जानकारी के लिए एक आसान और एकल बिंदु पहुंच प्रदान करने का प्रयास किया है ।
                                           </span>
				  </div>
				  </div>
			
			<div class="container mastfont" id="selectstatehead" style="height:80px;width: 20px;"></div>
				<div class=" mastfont"  style=" background-color: transparent;height: 100px;width: auto;font-size: 35px;margin-left: 40%"><span class="lang-eng">Select Your State</span><span class="lang-hin">अपने राज्य का चयन करें</span></div>
			
			   <center>
        <div class="statedrop" style="margin-top:2%;width: 50%;margin-bottom: 30%; "> 

			<select id="mySelect">
				 <option selected>Select the state </option> 
			<option value="37">Agriculture and farmers welfare program(for all states)</option>
			<option value="1">Andhra Pradesh</option>
<option value="2">Andaman and Nicobar Islands</option>
<option value="3">Arunachal Pradesh</option>
<option value="4">Assam</option>
<option value="5">Bihar</option>
<option value="6">Chandigarh</option>
<option value="7">Chhattisgarh</option>
<option value="8">Dadar and Nagar Haveli</option>
<option value="9">Daman and Diu</option>
<option value="10">Delhi</option>
<option value="11">Lakshadweep</option>
<option value="12">Pondicherry</option>
<option value="13">Goa</option>
<option value="14">Gujarat</option>
<option value="15">Haryana</option>
<option value="16">Himachal Pradesh</option>
<option value="17">Jammu and Kashmir</option>
<option value="18">Jharkhand</option>
<option value="19">Karnataka</option>
<option value="20">Kerala</option>
<option value="21">Madhya Pradesh</option>
<option value="22">Maharashtra</option>
<option value="23">Manipur</option>
<option value="24">Meghalaya</option>
<option value="25">Mizoram</option>
<option value="26">Nagaland</option>
<option value="27">Odisha</option>
<option value="28">Punjab</option>
<option value="29">Rajasthan</option>
<option value="30">Sikkim</option>
<option value="31">Tamil Nadu</option>
<option value="32">Telangana</option>
<option value="33">Tripura</option>
<option value="34">Uttar Pradesh</option>
<option value="35">Uttarakhand</option>
<option value="36">West Bengal</option>
			
			</select>

        </div> 
        <div> 
			<div class="37 GFG" 
                 style="padding: 30px;  
                        margin-top: -30%; 
                        width :60%;  
                        background:transparent"> 
			 <ul type="disc">

				 <li><a href="https://www.pradhanmantriyojana.co.in/fasal-bima-beema/#:~:text=The%20Pradhan%20Mantri%20Fasal%20Bima%20Yojana%20also%20known,%28%20All%20the%20schemes%20of%20Central%20Government%20%29.">
                                    <span class="lang-eng">Pradhan mantri fasal bima yojna</span>
                                    <span class="lang-hin">प्रधानमंत्री फसल बीमा योजना</span>
                                   </a>
				 </li>
				  <li><a href="https://soilhealth.dac.gov.in/">
                                   <span class="lang-eng"> Soil health card scheme</span>
                                   <span class="lang-hin"> मृदा स्वास्थ्य कार्ड योजना</span></a>
				 </li>
				  <li><a href="http://sfacindia.com/Nam.aspx">
					<span class="lang-eng"> National agriculture market (NAM)</span>
					<span class="lang-hin"> राष्ट्रीय कृषि बाजार (एनएएम)</span>
					  </a>
				 </li>
				  <li><a href="https://pgsindia-ncof.gov.in/pkvy/index.aspx">
                                   <span class="lang-eng"> Paramparagat krishi vikas yojna</span>
                                   <span class="lang-hin"> परमपरगट कृषि विकास योजना</span>

                                   </a>
				 </li>
				  <li><a href="https://pmksy.nic.in/">
                                   <span class="lang-eng"> Pradhanmantri krishi sinchayee yojna (PMKSY)</span>
                                   <span class="lang-hin"> प्रधानमंत्री कृषि सिंचाई योजना (पीएमकेएसवाई)</span>
                            </a>
				 </li>
				  <li><a href="https://currentaffairs.gktoday.in/tags/interest-subvention-scheme-iss">
                                   <span class="lang-eng">Interest subvention scheme (ISS)</span>
                                   <span class="lang-hin">ब्याज अनुदान योजना (आईएसएस)</span>
                            </a>
				 </li>
				  <li><a href="https://pradhanmantri-yogana.in/rashtriya-gokul-mission-in-hindi/#Rashtriya_Gokul_Mission_in_Hindi_2019">
                                   <span class="lang-eng">Rashtriya gokul Mission</span>
                                   <span class="lang-hin">राष्ट्रीय गोकुल मिशन</span>

                            </a>
				 </li>
				
				  <li><a href="https://www.epashuhaat.gov.in/">
                                   <span class="lang-eng">E- pashudhan haat portal</span>
                                   <span class="lang-hin">ई- पशुधन हाट पोर्टल</span>

                            </a>
				 </li>
				 
				  <li><a href="https://pdduuksy.icar.gov.in/">
                                   <span class="lang-eng">Pandit deendayal unnat krishi shiksha yojana</span>
                                   <span class="lang-hin">पंडित दीनदयाल कृषि शिक्षा योजना</span>
                            </a>
				 </li>
				  <li><a href="http://rkvy.nic.in/">
                                   <span class="lang-eng"> Rashtriy krishi shiksha divas</span>
                                   <span class="lang-hin"> राष्ट्र कृषि शिक्षा दिवस</span>
                            </a>
				 </li>
				 <li><a href="https://www.pradhanmantriyojana.co.in/unnat-iitd-ac-in-bharat-abhiyan/"><span class="lang-eng">Unnat Bharat Abhiyan</span><span class="lang-hin">उन्नत भारत अभियान</span></a></li>
				 
				
			 </ul>
          </div> 
         <div class="1 GFG" 
                 style="padding: 30px;  
                        margin-top: -30%; 
                        width :60%;  
                        background:transparent"> 
			 <ul>
                             <li><a href="https://www.thehansindia.com/posts/index/Andhra-Pradesh/2018-07-16/Chandrababu-Naidu-launches-Potharlanka-Lift-Irrigation-Scheme/398697">
                                   <span class="lang-eng">Potharlanka Lift Irrigation Scheme in AP</span>
                                   <span class="lang-hin">पोथर्लैंका लिफ्ट इरिगेशन स्कीम </span>
                            </a></li>
                              <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/andhra-pradesh-govt-scheme/" style="margin-top: 2%;">
                                   <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span>
                            </a>
			 </ul>
          </div> 
			
			
            <div class="2 GFG" 
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"ul>
				<ul><li>
                                   <a href="https://www.india.gov.in/centrally-sponsored-schemes-agriculture-department-andaman-and-nicobar" style="margin-top: 2%;">
                                          <span class="lang-eng"> Centrally sponsored schemes by Agriculture Department of Andaman and Nicobar.</span>
                                          <span class="lang-hin">  अंडमान निकोबार के कृषि विभाग द्वारा केंद्र प्रायोजित योजनाएं।</span>
                                   </a></li>
					 
				</ul>
          </div> 
            <div class="3 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
         <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/arunachal-pradesh-govt-schemes/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
              <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
				
          </div> 
            <div class="4 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
             <ul><li><a href="https://www.sarkariyojanalist.com/assam-cmsguy-tractor-distribution-scheme/">
              <span class="lang-eng">CM Tractors Distribution Yojana In Assam</span>
              <span class="lang-hin">असम में मुख्यमंत्री ट्रैक्टर वितरण योजना</span>
       </a></li></ul>
                             <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/assam-sarkar-schemes/" style="margin-top: 2%;">
                                   <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="5 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
          <ul><li><a href="https://www.pradhanmantriyojana.co.in/mukhyamantri-harit-krishi-sanyantra-bihar/">
              <span class="lang-eng">Mukhyamantri Harit Krishi Sanyantra Yojana In Bihar</span>
              <span class="lang-hin">बिहार में मुख्यमंत्री हरित कृषि केंद्र योजना</span>

       </a></li></ul>
				 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/bihar-sarkar-schemes/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="6 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
				<ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="7 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
            <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/chhattisgarh-govt-schemes/" style="margin-top: 2%;">
              <span class="lang-eng">More State Schemes</span>
              <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="8 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
        <ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="9 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
          <ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="10 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
    <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/delhi-sarkar-schemes/" style="margin-top: 2%;">
       <span class="lang-eng">More State Schemes</span>
       <span class="lang-hin">अधिक राज्य योजनाएं</span></a> 
          </div>
			<div class="11 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
             <a class="waves-effect waves-light btn-small" href="" style="margin-top: 2%;">
              <span class="lang-eng">More State Schemes</span>
              <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="12 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
           <ul><li><a href="https://www.indiamart.com/proddetail/goat-farm-11510811148.html">
              <span class="lang-eng">Goat Farming in Pondicherry</span>
              <span class="lang-hin">पांडिचेरी में बकरी की खेती</span>
</a></li></ul> 
				 
          </div>
			<div class="13 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
             <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/goa-government/" style="margin-top: 2%;">
              <span class="lang-eng">More State Schemes</span>
              <span class="lang-hin">अधिक राज्य योजनाएं</span></a> 
          </div>
			<div class="14 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
             <ul><li><a href="https://grwwb.gujarat.gov.in/insurance-scheme.htm#maincontant">
              <span class="lang-eng">Accident Insurance Scheme In Gujarat</span>
              <span class="lang-hin">गुजरात में दुर्घटना बीमा योजना</span>

              </a></li></ul> 
				 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/gujarat-govt-schemes/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="15 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
             <ul>
				 <li><a href="http://agriharyana.in/">
                                   <span class="lang-eng">Bhavantar Bharpayee Yojana in Haryana</span>
                                   <span class="lang-hin">हरियाणा में भवंतर भरपाय योजना</span>
                             </a>
				 </li>
				<li><a href="https://www.pradhanmantriyojana.co.in/mukhya-mantri-gramin-dudharu-pashudhan-suraksha-mmgdpsy/">
                                   <span class="lang-eng">Mukhya Mantri Gramin Dudharu Pashudhan Suraksha Yojana in Haryana</span>
                                   <span class="lang-hin">हरियाणा में मुख्यमंत्री ग्रामीण दुधारू पशुधन सुरक्षा योजना</span>
                            </a>
				 </li>	 
				 <li> 
					 <a href="https://pmmodiyojana.in/haryana-meri-fasal-mera-byora/">
                                          <span class="lang-eng"> Meri Fasal Mera Byora Yojana .</span>
                                          <span class="lang-hin"> मेरी फसल मेरा बायरा योजना ।</span>
						 </a>
				 </li>
				</ul>
                             <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/haryana-government-schemes/" style="margin-top: 2%;">
                                   <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="16 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/himachal-pradesh-govt-yojana/" style="margin-top: 2%;">
       <span class="lang-eng">More State Schemes</span>
       <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="17 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
       <ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="18 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
        <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/jharkhand-sarkar-schemes/" style="margin-top: 2%;">
              <span class="lang-eng">More State Schemes</span>
              <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="19 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/karnataka-govt-schemes/" style="margin-top: 2%;">
       <span class="lang-eng">More State Schemes</span>
       <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="20 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
           <ul><li><a href="http://irrigation.kerala.gov.in/index.php/infrastructure/lift-irrigation-schemes">
              <span class="lang-eng">Potharlanka Lift Irrigation Scheme</span>
              <span class="lang-hin">पोथरलंका लिफ्ट सिंचाई योजना</span>
       </a></li></ul>
		
          </div>
			<div class="21 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
              <ul><li>
                              <a href="https://sarkariyojana.com/krishi-rin-samadhan-yojana-kisan-karj-rahat-farmers-mp/">
                                   <span class="lang-eng">Krishi Rin Samadhan Yojana In MP</span>
                                   <span class="lang-hin">मप्र में कृषि रिन योजना</span>
                            </a>
				  </li>
				  <li>
                                     <a href="https://pmjandhanyojana.co.in/krishak-udhyami-loan-yojana-farmers-entrepreneur-mp/">
                                          <span class="lang-eng">Krishak Udhyami Loan Yojana In MP</span>
                                          <span class="lang-hin">मप्र में कृषक उधामी ऋण योजना</span>
                                   </a>
				  </li>
                              <li><a href="https://www.yojanagyan.in/madhyapradesh-aachary-vidhyasagar-goo-sanvrdhan-yojana/">
                                   <span class="lang-eng">Gau Samvardhan Yojana</span>
                                   <span class="lang-hin">गऊ समवर्धन योजना</span>
                                   
</a></li>
				</ul>
                             <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/madhya-pradesh-govt-schemes/" style="margin-top: 2%;">
                                   <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="22 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
             <ul><li><a href="https://www.pmawasyojana.co.in/nanaji-deshmukh-krishi-sanjivani-maharashtra/#:~:text=The%20State%20government%20of%20Maharashtra%20has%20announced%20to,medium%20and%20small%20based%20farmers%20within%20the%20state."><span class="lang-eng"></span>Nanaji Deshmukh Krishi Sanjivani Yojna In Maharashtra</a></li>
                             <li><a href="https://govinfo.me/one-farmer-one-transformer-ofot-maharashtra-one-transformer-per-farmer-to-reduce-the-electricity-losses/">
                                   <span class="lang-eng">One farmer one transformer scheme in Maharashtra</span>
                                   <span class="lang-hin">महाराष्ट्र में एक किसान एक ट्रांसफार्मर योजना</span>
                            </a>
				 </li>
				</ul>
                             <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/maharashtra-govt-schemes/" style="margin-top: 2%;">
                                   <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="23 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
    <ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="24 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
        <ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="25 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
<ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="26 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
         <ul><li>
                <span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span>
       </li></ul>
          </div>
			<div class="27 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
         <ul>
				<li><a href="https://www.pradhanmantriyojana.co.in/free-smart-phone-scheme-women-farmer-odisha/">
                                   <span class="lang-eng">Free Smart Phone Scheme For  Farmers</span>.
                                   <span class="lang-hin">किसानों के लिए मुफ्त स्मार्ट फोन योजना</span>
                            </a>
			 </li>
                      <li><a href="https://www.pradhanmantriyojana.co.in/apply-biju-swasthya-kalyan-yojana-odisha-bsky/">
                            <span class="lang-eng">Biju Krushak Kalyan Yojana Odisha</span>
                            <span class="lang-hin">बीजू कृष्ण कल्याण योजना ओडिशा</span>
                     </a></li>
				</ul>
				 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/odisha-govt-schemes/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="28 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
               <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/punjab-sarkar-yojana/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="29 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
             <ul><li>
				 <a href="https://www.pradhanmantriyojana.co.in/raj-sahakar-personal-accident-insurance-scheme-rajasthan-farmers/#:~:text=Raj%20Sahakar%20personal%20accident%20insurance%20scheme%20Rajasthan%20Farmers,with%20an%20insurance%20coverage%20of%20Rs%206%20lakhs."><span class="lang-eng"></span>Raj Sahakar Personal Accident Insurance Scheme In Rajasthan</a>
				 </li>
				</ul>
				 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/rajasthan-govt-yojana/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="30 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
     <ul><li><span class="lang-eng">NOT AVAILABLE ......</span>
                <span class="lang-hin">उपलब्ध नहीं ......</span></li></ul>
          </div>
			<div class="31 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
         <ul><li>
                      <a href="https://sarkariyojana.com/tamil-nadu-tatkal-scheme-free-power-connection-farmers-application-form/">
                            <span class="lang-eng">Tatkal Power Connection Scheme In Tamilnadu</span>
                            <span class="lang-hin">तमिलनाडु में तत्काल विद्युत कनेक्शन योजना</span>
			 </a>
			 </li></ul>
				 <a class="waves-effect waves-light btn-small" href="" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="32 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  	
                        width :60%; 
                        background:transparent"> 
            <ul><li><a href="https://siddipet.telangana.gov.in/scheme/rythu-bhandhu/">
              <span class="lang-eng">Rythu Bandhu Scheme In Telangana</span>
              <span class="lang-hin">तेलंगाना में रितु बंधु योजना</span>

				</a>
				</li>
				<li><a href="https://www.pradhanmantriyojana.co.in/free-power-electricity-supply-scheme-farmers-telangana/">
                                   <span class="lang-eng">Free Power Electricity Supply Scheme In Telangana</span>
                                   <span class="lang-hin">तेलंगाना में मुफ्त बिजली आपूर्ति योजना</span>
				</a>
				</li>
                            <li><a href="https://sarkariyojana.com/kaleshwaram-lift-irrigation-scheme-telangana/">
                                   <span class="lang-eng">Potharlanka Lift Irrigation Scheme in Telangana</span>
                                   <span class="lang-hin">तेलंगाना में पोथरलंका लिफ्ट सिंचाई योजना</span>
                            </a></li>
				</ul>
				 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/telangana-sarkar-schemes/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="33 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
            <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/tripura-government-yojana/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="34 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
            <ul>
                            <li><a href="https://www.thehowpedia.com/kisan-uday-yojana-uttar-pradesh-provide-free-pump-sets-farmers-in-up/">
                                   <span class="lang-eng">Kisan Uday Pump Yojana In UP</span>
                                   <span class="lang-hin">यूपी में किसान उदय पंप योजना</span>
					</a></li>
				<li>
                                   <a href="https://www.pmawasyojana.co.in/gau-gram-scheme-up-cowsheds-gaushala-milk-plant/">
                                          <span class="lang-eng">Gau Samvardhan Yojana</span>
                                          <span class="lang-hin">गऊ समवर्धन योजना</span>
                    </a>
				</li>
                            <li><a href="https://sarkariyojana.com/up-mukhyamantri-kisan-sarvhit-bima-yojana-application-form-pdf-download/">
                                   <span class="lang-eng">Mukhyamantri Kisan Sarvhit Bima Yojana In UP</span>
                                   <span class="lang-hin">यूपी में मुख्यमंत्री किसान सर्वहित बीमा योजना</span>
                            </a></li>
				</ul>
				 <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/uttar-pradesh-sarkar-yojana/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a>
          </div>
			<div class="35 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
           <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/uttarakhand-govt-schemes/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a> 
          </div>
			<div class="36 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
         <a class="waves-effect waves-light btn-small" href="https://pradhanmantrivikasyojana.in/category/west-bengal-govt-yojana/" style="margin-top: 2%;"> <span class="lang-eng">More State Schemes</span>
                                   <span class="lang-hin">अधिक राज्य योजनाएं</span></a> 
          </div>
		
		
        </div> 

    </center> 
			
				<div class=" mastfont"  style=" background-color: transparent;height: 100px;width: auto;font-size: 35px;margin-left: 40%;margin-top: 0%;"><span class="lang-eng">Bank Loan schemes</span><span class="lang-hin">बैंक ऋण योजनाएं</span></div>
			
			   <center>
        <div class="statedrop" style="margin-top:2%;width: 50%;margin-bottom: 30%; "> 

			<select>
				 <option value="disabled">Same for all states</option> 
			<option value="01">National Bank for Agriculture and Rural Development (NABARD)
</option>
<option value="02">Kisan Credit Card Scheme</option>
<option value="03">State Bank of India Agricultural Loans</option>
<option value="04">HDFC Bank Agricultural Loans</option>
<option value="05">Allahabad Bank Agricultural Loans</option>
<option value="06">Punjab National Bank Agricultural Loans</option>
<option value="07">ICICI Bank Agricultural Loans</option>
<option value="08">Axis Bank Agricultural Loans</option>

			</select>

        </div> 
        <div> 
         <div class="01 GFG" 
                 style="padding: 30px;  
                        margin-top: -30%; 
                        width :60%;  
                        background:transparent"> 
			 <ul>
				 <li><span class="lang-eng">In India, all premier banking and financial organisations, at all levels, offer a great deal of financial help to farmers. However, this trend of boosting the rural economy and agriculture through financial credit was started by the National Bank for Agriculture and Rural Development (NABARD) back in the early 1980s. When it comes to credit in the field of agriculture, all other banks throughout the country fall under the purview of the NABARD.

This financial institution is working in conjunction with the Government of India to boost agriculture sector. It is credited with several innovative schemes that have immensely aided the farmers throughout the country. The most notable scheme launched by the NABARD is the Kisan Credit Card (KCC).</span>
<span class="lang-hin">भारत में, सभी प्रमुख बैंकिंग और वित्तीय संगठन, सभी स्तरों पर, किसानों को बहुत अधिक वित्तीय मदद प्रदान करते हैं। तथापि, वित्तीय ऋण के माध्यम से ग्रामीण अर्थव्यवस्था और कृषि को बढ़ावा देने की यह प्रवृत्ति राष्ट्रीय कृषि एवं ग्रामीण विकास बैंक (नाबार्ड) द्वारा 1980 के दशक के शुरू में शुरू की गई थी । जब कृषि के क्षेत्र में ऋण की बात आती है तो पूरे देश में अन्य सभी बैंक नाबार्ड के दायरे में आते हैं।

       यह वित्तीय संस्थान कृषि क्षेत्र को बढ़ावा देने के लिए भारत सरकार के साथ मिलकर काम कर रहा है। इसका श्रेय कई ऐसी नवीन योजनाओं को जाता है, जिन्होंने पूरे देश में किसानों की काफी सहायता की है। नाबार्ड द्वारा शुरू की गई सबसे उल्लेखनीय योजना किसान क्रेडिट कार्ड (केसीसी) है।</span>
</li>
                             <a class="waves-effect waves-light btn-small" href="https://www.nabard.org/#4thpage">
                                   <span class="lang-eng"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></span>
                            
                            </a>
			 </ul>
          </div> 
            <div class="02 GFG" 
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
			 <ul>
				 <li><span class="lang-eng">The Kisan Credit Card is a scheme launched by the Indian banks back in 1998, as a way to fulfill the financial necessities of the agricultural sector. This is done by giving monetary support to farmers, which in turn comes with various features and benefits. The quantum of the loan depends on several factors like cost of cultivation, farm maintenance cost, et cetera.
                             Applying for the Kisan Credit Card is a simple, hassle-free process that requires minimal documentation. It also offers crop insurance coverage, along with subsidies on interest payments. Speaking of interest, farmers applying for loans under the KCC scheme can borrow funds at 7 percent per annum, for amounts up to Rs. 3 lakh.</span>
                             <span class="lang-hin">किसान क्रेडिट कार्ड कृषि क्षेत्र की वित्तीय आवश्यकताओं को पूरा करने के तरीके के रूप में भारतीय बैंकों द्वारा १९९८ में शुरू की गई एक योजना है । यह किसानों को मौद्रिक सहायता देकर किया जाता है, जो बदले में विभिन्न विशेषताओं और लाभों के साथ आता है । ऋण की मात्रा खेती की लागत, कृषि रखरखाव लागत, वगैरह जैसे कई कारकों पर निर्भर करती है।
                                   किसान क्रेडिट कार्ड के लिए आवेदन करना एक सरल, परेशानी मुक्त प्रक्रिया है जिसके लिए न्यूनतम दस्तावेज की आवश्यकता होती है। यह ब्याज भुगतान पर सब्सिडी के साथ-साथ फसल बीमा कवरेज भी प्रदान करता है । ब्याज की बात करें तो केसीसी योजना के तहत ऋण के लिए आवेदन करने वाले किसान 3 लाख रुपये तक की राशि के लिए 7 प्रतिशत प्रति वर्ष पर धन उधार ले सकते हैं ।</span>
                            </li>
				 <a class="waves-effect waves-light btn-small" href="https://www.bankbazaar.com/kisan-credit-card.html"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
			 </ul>
          </div> 
          
            <div class="03 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
           <ul>
			   <li>
				<span class="lang-eng">   State Bank of India is a leader in financing projects in the agriculture sector. They have helped millions of farmer across the country through their 16,000 plus branches. They offer a variety of products like Kisan Credit Card, gold loan for crop production and multi-purpose gold loan for agriculture activities.

SBI also offers agriculture loans for mechanisation of farms. The funds from these loans can be used to purchase combine harvesters, tractors and install drip irrigation. Moreover, loans for activities related to dairy, poultry or fisheries can also be availed. Credit can be taken against warehouse receipts.</span>
<span class="lang-hin">   भारतीय स्टेट बैंक कृषि क्षेत्र में परियोजनाओं के वित्तपोषण में एक नेता है। उन्होंने अपनी 16,000 से अधिक शाखाओं के माध्यम से देश भर के लाखों किसानों की मदद की है। वे किसान क्रेडिट कार्ड, फसल उत्पादन के लिए गोल्ड लोन और कृषि गतिविधियों के लिए बहुउद्देश्यीय स्वर्ण ऋण जैसे कई तरह के उत्पाद प्रदान करते हैं ।

       एसबीआई खेतों के मशीनीकरण के लिए कृषि ऋण भी प्रदान करता है। इन ऋणों से प्राप्त निधियों का उपयोग कंबाइन हार्वेस्टर, ट्रैक्टर खरीदने और ड्रिप सिंचाई स्थापित करने के लिए किया जा सकता है। इसके अलावा डेयरी, मुर्गी पालन या मछली पालन से संबंधित गतिविधियों के लिए ऋण भी लिया जा सकता है। ऋण गोदाम प्राप्तियों के खिलाफ लिया जा सकता है।</span>
			   </li>
			    <a class="waves-effect waves-light btn-small" href="https://www.sbi.co.in/web/agri-rural/agriculture-banking/miscellaneous-activities/land-purchase-scheme"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul>
          </div> 
            <div class="04 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
				<ul>
					<li>
						<span class="lang-eng">The HDFC Bank offers a variety of agriculture loans for farmers and agriculturists. The purpose of these loans varies across a broad spectrum, starting from installation of orchards and plantations to promotion of commercial horticulture and production of field crops. Furthermore, the HDFC bank also offers warehouse receipt financing to all farmers and small traders</span>
						<span class="lang-hin">एचडीएफसी बैंक किसानों और कृषकों के लिए कई तरह के कृषि ऋण प्रदान करता है। इन ऋणों का उद्देश्य एक व्यापक स्पेक्ट्रम में भिन्न होता है, जो बगीचों और वृक्षारोपण की स्थापना से लेकर वाणिज्यिक बागवानी को बढ़ावा देने और खेतों की फसलों के उत्पादन तक होता है । इसके अलावा, एचडीएफसी बैंक सभी किसानों और छोटे व्यापारियों को वेयरहाउस रसीद वित्तपोषण भी प्रदान करता है</span>
					</li>
					 <a class="waves-effect waves-light btn-small" href="https://www.hdfcbank.com/agri"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul>
               
          </div>
			<div class="05 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
              <ul>
				  <li>
					<span class="lang-eng">  Allahabad Bank is another nationalised bank in India which offers the Kisan Credit Card under its Akshay Krishi scheme. Needless to mention, the features of the plan are the same as that of the KCC scheme. All farmers, tenant farmers, and cultivator owners, et cetera.

In fact, Allahabad Bank has gone the extra mile to come up with its own version of Kisan Credit Card. This one is known as the Allahabad Bank Potato Growers Credit Card Scheme and its main objective is to provide sufficient financial support in a timely manner to farmers, to help them meet their cultivation requirements.</span>
<span class="lang-hin">  इलाहाबाद बैंक भारत का एक और राष्ट्रीयकृत बैंक है जो अपनी अक्षय कृषि योजना के तहत किसान क्रेडिट कार्ड प्रदान करता है। उल्लेख करने की जरूरत नहीं है, योजना की विशेषताएं केसीसी योजना के समान हैं। सभी किसानों, काश्तकार किसानों, और कृषक मालिकों, एट cetera ।

       वास्तव में, इलाहाबाद बैंक किसान क्रेडिट कार्ड के अपने संस्करण के साथ आने के लिए अतिरिक्त मील चला गया है । इसे इलाहाबाद बैंक आलू उत्पादक क्रेडिट कार्ड योजना के रूप में जाना जाता है और इसका मुख्य उद्देश्य किसानों को समय पर पर्याप्त वित्तीय सहायता प्रदान करना है, ताकि उन्हें अपनी खेती की आवश्यकताओं को पूरा करने में मदद मिल सके ।</span>
				  </li>
				  <a class="waves-effect waves-light btn-small" href="https://www.bankbazaar.com/allahabad-bank-kisan-credit-card.html"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul> 
          </div>
			<div class="06 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
               <ul>
				  <li>
					 <span class="lang-eng"> Punjab National Bank has myriad financial products related to agriculture. For example, one can avail loans from the PNB to establish biogas units, develop wastelands, set-up minor irrigation apparatus, et cetera. In addition to this, people who are interested in pursuing the field of apiculture (beekeeping) can approach Punjab National Bank for financial support.

The bank also offers warehouse receipt financing, along with insurance coverage and financial support to farmers in the event of crop failure, owing to natural disasters, diseases, and pests. This scheme is known as Pradhan Mantri Fasal Bima Yojana. All of this is in addition to the regular financial services offered to farmers like Kisan Credit Card, debt swapping, et cetera.</span>
<span class="lang-hin">पंजाब नेशनल बैंक के पास कृषि से जुड़े असंख्य वित्तीय उत्पाद हैं। उदाहरण के लिए, कोई भी बायोगैस इकाइयां स्थापित करने, बंजर भूमि विकसित करने, लघु सिंचाई तंत्र स्थापित करने, एट सेटेरा के लिए पीएनबी से ऋण ले सकता है। इसके अलावा, जो लोग मधुमक्खी पालन (मधुमक्खी पालन) के क्षेत्र को आगे बढ़ाने में रुचि रखते हैं, वे वित्तीय सहायता के लिए पंजाब नेशनल बैंक से संपर्क कर सकते हैं।

       बैंक प्राकृतिक आपदाओं, बीमारियों और कीटों के कारण फसल खराब होने की स्थिति में किसानों को बीमा कवरेज और वित्तीय सहायता के साथ-साथ वेयरहाउस रसीद वित्तपोषण भी प्रदान करता है । इस योजना को प्रधानमंत्री फसल बीमा योजना के नाम से जाना जाता है। यह सब किसानों को दी जाने वाली नियमित वित्तीय सेवाओं के अलावा है जैसे किसान क्रेडिट कार्ड, डेट स्वैपिंग, एट सेटेरा।</span>
				  </li>
				   <a class="waves-effect waves-light btn-small" href="https://www.pnbindia.in/procedural-guideline-for-agricultural-credit.html"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul> 
          </div>
			<div class="07 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
               <ul>
				  <li>
					<span class="lang-eng">  The ICICI Bank offers a variety of agricultural loans. Their top selling product is the Kisan Credit Card, which is a convenient way for farmers to meet their daily requirements. They also offer long-term loans to purchase equipment or cattle, which can be repaid over a period of 3-4 years.

The ICICI Bank also offers instant gold loans to meet financial requirements for agriculture-related projects. In addition to this, they also offer the facility of overdraft against Fixed Deposits, also known as Kisan Kalpvriksha. For more information on these agricultural loans offered by the ICICI Bank, visit the official website.</span>
<span class="lang-hin">  आईसीआईसीआई बैंक कई तरह के कृषि ऋण प्रदान करता है। उनका शीर्ष बिक्री उत्पाद किसान क्रेडिट कार्ड है, जो किसानों के लिए अपनी दैनिक आवश्यकताओं को पूरा करने का एक सुविधाजनक तरीका है। वे उपकरण या मवेशियों को खरीदने के लिए दीर्घकालिक ऋण भी प्रदान करते हैं, जिसे 3-4 साल की अवधि में चुकाया जा सकता है।

       आईसीआईसीआई बैंक कृषि से संबंधित परियोजनाओं के लिए वित्तीय आवश्यकताओं को पूरा करने के लिए तत्काल स्वर्ण ऋण भी प्रदान करता है। इसके अलावा, वे फिक्स्ड डिपॉजिट के विरुद्ध ओवरड्राफ्ट की सुविधा भी प्रदान करते हैं, जिसे किसान कल्पवृक्ष के नाम से भी जाना जाता है। आईसीआईसीआई बैंक द्वारा दिए जाने वाले इन कृषि ऋणों के बारे में अधिक जानकारी के लिए आधिकारिक वेबसाइट पर जाएं ।</span>
				  </li>
				  <a class="waves-effect waves-light btn-small" href="https://www.icicibank.com/Personal-Banking/loans/pradhan-mantri-mudra-yojana.page?"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul>
          </div>
			<div class="08 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
              <ul>
				  <li>
					<span class="lang-eng"> Axis Bank has done well to earn a splendid reputation in the world of agricultural finance. Over the years, they have greatly helped farmers through their diversified financial products such as gold loans, Kisan Credit Card, tractor loans, warehouse receipt financing, loans for developing rural godowns and many more.

Axis Bank also offers a product known as Contract Farming, wherein loan agreements are made between farmers and corporates. The amount is provided by the lender instantly for production and supply of the produce, and all of it is governed by the Fair Practices Lending Code.</span>
<span class="lang-hin">एक्सिस बैंक ने कृषि वित्त की दुनिया में शानदार प्रतिष्ठा अर्जित करने के लिए अच्छा किया है । इन वर्षों में, उन्होंने अपने विविध वित्तीय उत्पादों जैसे स्वर्ण ऋण, किसान क्रेडिट कार्ड, ट्रैक्टर ऋण, गोदाम रसीद वित्तपोषण, ग्रामीण गोदामों के विकास के लिए ऋण और कई और अधिक के माध्यम से किसानों की बहुत मदद की है ।

       एक्सिस बैंक एक उत्पाद भी प्रदान करता है जिसे कॉन्ट्रैक्ट फार्मिंग के नाम से जाना जाता है, जिसमें किसानों और कॉर्पोरेट्स के बीच ऋण समझौते किए जाते हैं। राशि ऋणदाता द्वारा उत्पादन और उपज की आपूर्ति के लिए तुरंत प्रदान की जाती है, और यह सब उचित प्रथाओं उधार कोड द्वारा नियंत्रित किया जाता है ।</span>
				  </li>
				  <a class="waves-effect waves-light btn-small" href="https://www.axisbank.com/agri-and-rural/loans#:~:text=A%20facility%20that%20aims%20to%20provide%20timely%20credit,from%20poor%20households%20to%20help%20support%20their%20businesses."><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul>
          </div>
			
			
		</div>
      
 
			 </center> 
				<div class=" mastfont"  style=" background-color: transparent;height: 100px;width: auto;font-size: 35px;margin-left: 40%;margin-top: 0%;">Insurance schemes</div>
			
			   <center>
        <div class="statedrop" style="margin-top:2%;width: 50%;margin-bottom: 30%; "> 

			<select>
				 <option value="disabled">Same for all states</option> 
			<option value="001">Pradhan Mantri Fasal Bima Yojana
</option>
<option value="002">Weather Based Crop Insurance Scheme (WBCIS)</option>
<option value="003">Coconut Palm Insurance Scheme (CPIS)</option>
<option value="004">Unified Package Insurance Scheme (UPIS) as pilot in 45 districts</option>


			</select>

        </div> 
        <div> 
         <div class="001 GFG" 
                 style="padding: 30px;  
                        margin-top: -30%; 
                        width :60%;  
                        background:transparent"> 
			 <ul>
				 <li>1-Insurance protection for food crops, oilseeds and annual horticultural/commercial crops notified by state government.</li>
<li>2-Uniform maximum premium for all farmers:</li>
<li>2.1-Kharif season - 2% of sum insured.</li>
<li>2.2-Rabi Season 1.5% of sum insured.</li>
<li>2.3-Annual commercial/horticultural crops - 5% of sum insured</li>
				 <li>3-The difference between actual premium and the rate of Insurance payable by farmers shall be shared equally by the Centre and State.</li>
				 <li>4-Claims of full Sum Insured (SI), without capping or reduction in SI.</li>
				 <li>5-If the sowing is not done due to adverse weather/climate, claims upto 25% of sum insured will be paid for prevented sowing/planting risk.</li>
				 <li>6-When the crop yield is less than the guaranteed yield of notified crops,the claim payment equal to shortfall in yield is payable to all insured farmers.</li>
				 <li>7-If 50% loss in mid season of crop then on account advance payment, upto 25% of likely claims will be paid as immediate relief.</li>
				 <li>8-Losses caused due to inundation, hail storm and landslide would be assessed at individual farm level.</li>
				 <li>9-Post harvest losses assessment for damage to crops in cut and spread in the field up to 14 days on account of cyclonic rain and unseasonal rain in the entire country.</li>
				 <li>10-Use of remote sensing Technology and drones to supplement Crop cutting experiments for faster settlement of claims.</li>
				 <li>11-Implementing agency will be selected by the State Government through bid.</li>

				 <a class="waves-effect waves-light btn-small" href="https://www.nabard.org/#4thpage"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
			 </ul>
          </div> 
            <div class="002 GFG" 
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
			 <ul>
				  <li>1-Insurance protection for notified food crops, oilseeds and horticultural /commercial crops</li>
<li>2-Uniform maximum premium for all farmers like PMFBY :</li>
<li>2.1-Kharif season - 2% of sum insured.</li>
<li>2.2-Rabi Season 1.5% of sum insured.</li>
<li>2.3-Annual commercial/horticultural crops - 5% of sum insured</li>
				 <li>3-The difference between actual premium and the rate of Insurance payable by farmers shall be shared equally by the Centre and State.</li>
				 <li>4-When the Weather indices (rainfall/temperature/relative humidity/wind speed etc) is different (less/ higher) from the Guaranteed Weather Index of notified crops, the claim payment equal to deviation/shortfall is payable to all insured farmers of notified area.
                 </li>
				 <li>5-Provision for assessment of losses caused by hailstorm and cloud burst at individual farm level.</li>
				 <li>6-Implementing agency will be selected by the State Government through bid.
                 </li>
				 
				 <a class="waves-effect waves-light btn-small" href="https://www.bajajallianz.com/weather-based-crop-insurance.html"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul>
          </div> 
          
            <div class="003 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
         <ul>
				 <li>1-Insurance protection for Coconut Palm growers.</li>
<li>2-Premium rate per palm ranges from Rs. 9.00 (in the plant age group of 4 to 15 years) to Rs. 14.00 (in the plant age group of 16-60 years).</li>

				 <li>3-50-75% subsidy of premium is provided to all types of farmers.</li>
				 <li>4-When the palm damaged, the claim payment equal to input cost loss damage is payable to the insured in notified areas</li>
				

				 <a class="waves-effect waves-light btn-small" href="https://www.indiafilings.com/learn/coconut-palm-insurance-scheme/"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul>
          </div> 
            <div class="004 GFG"
                 style="padding: 30px; 
                        margin-top: -30%;  
                        width :60%; 
                        background:transparent"> 
			 <ul>
				 <li>1-To provide financial protection and comprehensive risk coverage of crops, assets, life and student safety to farmers.</li>
<li>2-Pilot will include 7 section Viz.., - Crop Insurance (PMFBY / WBCIS), Loss of life (Pradhan Mantri Jeevan Jyoti Bima Yojna (PMJJBY)), Accident Insurance (Pradhan Mantri Suraksha Bima Yojana - PMSBY) , Student safety, Household, Agriculture implements and Tractor.</li>

				 <li>3-Crop insurance will be compulsory. However farmers can choose atleast 2 sections from remaining.</li>
				 <li>4-Farmers may be able to get all requisite insurance products for farmers through one simple proposal/ application Form and through single window.
                 </li>
				 <li>5-Two flagship schemes of the Government viz PMSBY & PMJJBY have been included apart from insurance of assets.</li>
				 <li>6-Pilot scheme will be implemented through single window.
                 </li>
				<li>7-Processing of claims (other than Crop Insurance) on the basis of individual claim report.</li>
				 

				 <a class="waves-effect waves-light btn-small" href="https://www.vikaspedia.in/agriculture/agri-insurance/unified-package-insurance-scheme"><span class="lang-eng">Read more</span>
                                   <span class="lang-hin">और पढ़ें</span></a>
				</ul>
               
          </div>
	
		</div>
      
 
			 </center> 
			
			
			 <script type="text/javascript"> 
            $(document).ready(function() { 
                $("select").on('change', function() { 
                    $(this).find("option:selected").each(function() { 
                        var geeks = $(this).attr("value"); 
                        if (geeks) { 
                            $(".GFG").not("." + geeks).hide(); 
                            $("." + geeks).show(); 
                        } else { 
                            $(".GFG").hide(); 
                        } 
  
                    }); 
                }).change(); 
            }); 
				 
				
				   
        </script>
			
			
		</div>
              {% endblock content %}
