{% extends "layout.html" %}
{% block content %}





<div class="maindiv" style="height: auto; margin-top: 50px;">
  <div class="mastfont top_marg center" style="font-size: 100px;">
    <span class="text-black lang-eng">Saksham Kisan</span>
    <span class="text-black lang-hin">
      सक्षम किसान</span>
  </div>

  <div class="row" style="margin-left: 15%;">
    <div class="col s12 m6 l3 push-s2">

      <div class="card top_marg">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activsator" src="{{url_for('static', filename='theme_images/th.jpg')}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><span class="lang-eng">About</span><span class="lang-hin">बारे में</span><i
              class="material-icons right">more_vert</i></span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><span class="lang-eng">About</span><span class="lang-hin">बारे में</span><i class="material-icons right">close</i></span>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3 push-s2">
      <div class="card top_marg">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activsator" src="{{url_for('static', filename='theme_images/th.jpg')}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><span class="lang-eng">Vision</span><span class="lang-hin">दृष्टि</span><i
              class="material-icons right">more_vert</i></span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><span class="lang-eng">Vision</span><span class="lang-hin">दृष्टि</span><i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>
    <div class="col s12 m6 l3 push-s2">
      <div class="card top_marg">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activsator" src="{{url_for('static', filename='theme_images/th.jpg')}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><span class="lang-eng">Mission</span><span class="lang-hin">मिशन</span><i
              class="material-icons right">more_vert</i></span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><span class="lang-eng">Mission</span><span class="lang-hin">मिशन</span><i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>

    </div>


  </div>

  <!--	videos div	-->


  <div class="vid-div" style="margin-top: 5%;">
    <div class="mastfont center-align" style="font-size: 50px;margin-bottom: 2%;">
      <font color="black">Related Videos...</font>
    </div>


    <div class="row">
      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" src="https://www.youtube.com/embed/qHIKRwYe3Cs" frameborder="5"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;"><i
                  class="material-icons">filter_drama</i>Wheat</div>

            </li>

          </ul>

        </div>

      </div>


      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" margin-left="15" src="https://www.youtube.com/embed/fkO3EhG7v3c"
          frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;"><i
                  class="material-icons">filter_drama</i>Rice</div>

            </li>

          </ul>

        </div>
      </div>

      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" margin-left="15" src="https://www.youtube.com/embed/NLQ2auANTe0"
          frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;"><i
                  class="material-icons">filter_drama</i>Maize</div>

            </li>

          </ul>

        </div>

      </div>

      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" margin-left="15" src="https://www.youtube.com/embed/fNzq5YasHX8"
          frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;"><i
                  class="material-icons">filter_drama</i>Sugarcane</div>

            </li>

          </ul>

        </div>
      </div>

    </div>



  </div>
</div>


{% endblock content %}