{% extends "layout.html" %}
{% block content %}





<div class="maindiv" style="height: auto; margin-top: 50px;">
  <div class="mastfont top_marg center" style="font-size: 100px;">
    <span class="text-black lang-eng">Saksham Kisan</span>
    <span class="text-black lang-hin">
      सक्षम किसान</span>
  </div>

  <div class="row" style="margin-left: 15%;">
    <div class="col s12 m6 l3 push-s2">

      <div class="card top_marg">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activsator" src="{{url_for('static', filename='theme_images/th.jpg')}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><span class="lang-eng">About</span><span class="lang-hin">बारे में</span><i
              class="material-icons right">more_vert</i></span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><span class="lang-eng">About</span><span class="lang-hin">बारे में</span><i class="material-icons right">close</i></span>
          <p><span class="lang-eng">Farmer is the backbone of our Nation . Farmer provides us with everything
            very basic to our need in our life. Without them we our nothing. Through
            Saksham Kisan we aim to provide them a better price, better market, better
            services for everything for which they have to spent hours searching around.
            We provide them help with everything starting from basic to the end selling
            of product. We want to help our farmers grow crops which help them as well as
            help our nation by crop diversification</span><span class="lang-hin">किसान हमारे राष्ट्र की रीढ़ है । किसान हमें सब कुछ प्रदान करता है
              हमारे जीवन में हमारी जरूरत के लिए बहुत बुनियादी । उनके बिना हम हमारे कुछ भी नहीं । के माध्यम से
              सक्षम किसान हमारा लक्ष्य है कि उन्हें बेहतर कीमत, बेहतर बाजार, बेहतर
              सब कुछ है जिसके लिए वे घंटे बिताने के आसपास खोज के लिए सेवाओं ।
              हम उन्हें बुनियादी से अंत बेचने के लिए शुरू सब कुछ के साथ मदद प्रदान
              उत्पाद का। हम अपने किसानों को फसलें उगाने में मदद करना चाहते हैं जो उनकी मदद के साथ-साथ
              फसल विविधीकरण द्वारा हमारे राष्ट्र की मदद</span></p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3 push-s2">
      <div class="card top_marg">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activsator" src="{{url_for('static', filename='theme_images/th.jpg')}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><span class="lang-eng">Vission</span><span class="lang-hin">दृष्टि</span><i
              class="material-icons right">more_vert</i></span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><span class="lang-eng">Vission</span><span class="lang-hin">दृष्टि</span><i class="material-icons right">close</i></span>
          <p><span class="lang-eng">We want our farmers to flourish and bring back all the farmers the strength
            they had once in doing farming. Provide them with such a market place where
            they get better earn for their hard earned work without going anywhere at
            fingertips. make them self reliant again like before times and as strong as
            everybody in our nation.</span><span class="lang-hin">हम चाहते हैं कि हमारे किसान फलने-फूलने और सभी किसानों को मजबूती वापस लाएं
              वे एक बार खेती करने में थे । उन्हें ऐसी बाजार जगह प्रदान करें जहां
              वे कहीं भी जाने के बिना अपनी मेहनत की कमाई के लिए बेहतर कमाते हैं
              उंगलियों. उन्हें समय से पहले की तरह फिर से आत्मनिर्भर बनाने के लिए और के रूप में मजबूत के रूप में
              हमारे देश में हर कोई ।</span></p>
        </div>
      </div>

    </div>
    <div class="col s12 m6 l3 push-s2">
      <div class="card top_marg">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activsator" src="{{url_for('static', filename='theme_images/th.jpg')}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><span class="lang-eng">Mission</span><span class="lang-hin">मिशन</span><i
              class="material-icons right">more_vert</i></span>

        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><span class="lang-eng">Mission</span><span class="lang-hin">मिशन</span><i class="material-icons right">close</i></span>
          <p><span class="lang-eng">A better market like structure where everyone can come up and show there
            services and products and others can take them and interact about them
            directly. Removing the problems like middle agent and stockpiling. Providing
            buyers direct product from farmer.</span><span class="lang-hin">एक बेहतर बाजार की तरह संरचना जहां हर कोई आ सकता है और वहां दिखा सकते है
              सेवाओं और उत्पादों और दूसरों को उन्हें ले और उनके बारे में बातचीत कर सकते हैं
              सीधे. मध्य एजेंट और संचय जैसी समस्याओं को दूर करना। प्रदान
              खरीदार किसान से प्रत्यक्ष उत्पाद।</span></p>
        </div>
      </div>

    </div>


  </div>

  <!--	videos div	-->


  <div class="vid-div" style="margin-top: 5%;">
    <div class="mastfont center-align" style="font-size: 50px;margin-bottom: 2%;">
     <span class="lang-eng"> <font color="black">Related Videos...</font></span>
     <span class="lang-hin"> <font color="black">संबंधित वीडियो...</font></span>
    </div>


    <div class="row">
      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" src="https://www.youtube.com/embed/qHIKRwYe3Cs" frameborder="5"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;">
                <span class="lang-eng"><i class="material-icons">filter_drama</i>Wheat</span>
                <span class="lang-hin"><i class="material-icons">filter_drama</i> गेहूं</span>
              </div>

            </li>

          </ul>

        </div>

      </div>


      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" margin-left="15" src="https://www.youtube.com/embed/fkO3EhG7v3c"
          frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;">
                <span class="lang-eng"><i class="material-icons">filter_drama</i>Rice</span>
                <span class="lang-hin"><i class="material-icons">filter_drama</i>चावल </span>
              </div>

            </li>

          </ul>

        </div>
      </div>

      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" margin-left="15" src="https://www.youtube.com/embed/NLQ2auANTe0"
          frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;">
                <span class="lang-eng"><i class="material-icons">filter_drama</i>Maize</span>
                <span class="lang-hin"><i class="material-icons">filter_drama</i>मक्का</span>
              </div>

            </li>

          </ul>

        </div>

      </div>

      <div class="col s12 m6 l3 push-s5">

        <iframe width="350" height="300" margin-left="15" src="https://www.youtube.com/embed/fNzq5YasHX8"
          frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

        <div id="cropname">
          <ul class="collapsible" style="width:100%;">
            <li>
              <div class="collapsible-header mastfont" id="seller4name" style="font-size: 25px;">
                <span class="lang-eng"><i class="material-icons">filter_drama</i>Sugarcane</span>
                <span class="lang-hin"><i class="material-icons">filter_drama</i>गन्ना</span>
              </div>

            </li>

          </ul>

        </div>
      </div>

    </div>



  </div>
</div>


{% endblock content %}
